@import "./rem-calc.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: remc(20) 0;
  border-radius: remc(10);

  text-decoration: none;

  &__primary {
    color: var(--white);
    background: var(--primary-color);
  }

  &__secondary {
    color: var(--white);
    background: var(--secondary-color);
  }
}
